{% extends 'bboard/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}Статьи{% endblock %}

</head>
<body>
    

        {% block pagination %}
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'add' %}" style="font-family: oswald; font-size: 30px;">CreateNewBB</a>
                <a class="navbar-brand" href="/admin/" style="font-family: oswald; font-size: 30px;">Admin</a>
            </div>
          </nav>
        {% endblock %}
        

        {% block view_categories %}
        <div class="shadow p-3 mb-5 bg-body rounded">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}" style="font-family: oswald; font-size: 22px;">Главная</a>
                </li>
                {% for rubric in rubrics %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'by_rubric' rubric.pk %}" style="font-family: oswald; font-size: 22px;">{{ rubric.name|capfirst }}</a>
                </li>
                {% endfor %}    
        </div>
        {% endblock %}



        {% block view_bbs %}

                {% for bb in bbs %}
                <div class="container">
                    
                        <div class="alert alert-light">
                            <h2 style="font-family: oswald; font-size: 30px;">{{ bb.title|capfirst }}</h2>
                            <p class="text-break" style="font-family: oswald; font-size: 24px;">{{ bb.content|capfirst}}</p>
                            <p><a href='/bboard/{{ bb.rubric.pk }}' style="font-family: oswald; font-size: 24px;">{{ bb.rubric.name }}</a></p>
                            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
                        </div>
                      
                </div>
                {% endfor %}

        {% endblock %}
        
</body>
</html>

